/* artist */
.artist-container .artist-header {
  color: #fff;
  margin-bottom: 40px;
}

/* Card */
.artist-container .album-card {
  height: 100%;
  text-align: left;
  background: #282828;
  color: #fff;
  position: relative;
}

.artist-container .album-card:hover .button-album-preview{
  background-color: rgba(0, 0, 0, 0.08);
}

.artist-container .album-image {
   padding-top: 150px;
   width: 100%;
   background-size:cover;
   background-position: center;
}

.artist-container .album-link {
   text-decoration: none;
}

.artist-container .album-info {
  min-height: 120px;
}

.artist-container .album-attr {
  padding-bottom: 20px;
}

.artist-container .button-album-preview {
  background: #1db954;
  color: #fff;
  bottom: 0;
  left: 0;
  width: 100%;
  position: absolute;
  font-weight: bold;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.artist-container .album-ratings .MuiRating-iconEmpty{
  color: rgba(255,255,255,0.1);
}

@media only screen and (min-width: 600px) {

}
@media only screen and (min-width: 960px) {
  .artist-container .album-image {
     padding-top: 350px
  }
}
@media only screen and (min-width: 1280px) {

}
